 .App {
  text-align: center;
  justify-content: center;
  color: white;
}
* {
  --headerFontSize: 1.5rem;   
  --headerPadding: 0.6rem; 
  --footerFontSize: 1rem;
  --footerPadding: 0.5rem;
}

header {
  background-color: dodgerblue;
  font-size: var(--headerFontSize);
  padding: var(--headerPadding);
  text-align: center;
}

main {
  background-color: #282c34;
  font-size: 1.5rem;
  text-align: center;
  height: calc(
      100vh 
      - var(--headerFontSize) 
      - (2.75 * var(--headerPadding))
      - var(--footerFontSize) 
      - (2.75 * var(--footerPadding))
  );
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  background-color: dodgerblue;
  font-size: var(--footerFontSize);
  padding: var(--footerPadding);
  text-align: center;
}
@media only screen and (max-width: 600px) {
  main {
    display: block;
  }
}